<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Tienda Virtual </title>
    <link rel="stylesheet" href="estatic/css/estilos.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Volver al inicio</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Contenido principal de la página de inicio -->
    </main>
    <footer>
        <p> 2023 Tienda Virtual Moderna. Todos los derechos reservados.</p>
    </footer>
</body>
</html>